<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football Factory</title>
    <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="well">
            Hello
        </div>
    </div>

    <!-- scripts -->
    <script src="/libs/jquery/dist/jquery.js" type="application/javascript" />
    <script src="/libs/bootstrap/dist/js/bootstrap.js" type="application/javascript" />
</body>
</html>